POSTGRES_USER=litellm
POSTGRES_PASSWORD=change-me
POSTGRES_DB=litellm
DATABASE_URL=postgresql://litellm:change-me@db:5432/litellm
LITELLM_MASTER_KEY=change-me
HSOG_URL=dummy-url
HSOG_KEY=change-me
ACADEMIC_URL=https://chat-ai.academiccloud.de/v1
ACADEMIC_KEY=change-me
NVIDIA_URL=https://integrate.api.nvidia.com/v1/
NVIDIA_KEY=change-me
OPENROUTER_URL=https://openrouter.ai/api/v1
OPENROUTER_KEY=change-me
